kong/plugins/.DS_Store
.DS_Store
kong/saxon/notes.txt
.pongo/
servroot/
.busted
.editorconfig
.luacheckrc
.luacov
.vscode/# servroot typically is the Kong working directory for tests
servroot
settings.json
# exclude generated packed rocks
*.rock
# exclude Pongo shell history
.pongo/.bash_history
# exclude LuaCov statistics file
luacov.stats.out
# exclude LuaCov report
luacov.report.out
# exclude Pongo containerid file
.containerid
so/
zip/
