kong/plugins/.DS_Store
kong/saxon/notes.txt
tls.crt
tls.key
.DS_Store
servroot/
.busted
.editorconfig
.luacheckrc
.luacov
.vscode/# servroot typically is the Kong working directory for tests
servroot
settings.json
# exclude generated packed rocks
*.rock
# exclude Pongo shell history
.pongo/.bash_history
# exclude LuaCov statistics file
luacov.stats.out
# exclude LuaCov report
luacov.report.out
# exclude Pongo containerid file
.containerid
.busted
kong/saxon/so/arm64/*
kong/saxon/so/amd64/*
kong/saxon/zip/*.zip
kong/saxon/include/*.h
.VSCodeCounter/
to_do.txt
kong/saxon/kubernetes/tls.crt
kong/saxon/kubernetes/tls.key
loadtesting/_temp
start-kong-konnect.sh
temp/
kong/libxml2/2.*
# exclude LuaCov html report
luacov.report.html
